@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(34 197 94) rgb(245 245 245);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(245 245 245);
}

::-webkit-scrollbar-thumb {
  background: rgb(34 197 94);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(22 163 74);
}
